html {
    background-image: url("../images/backTexture2.jpg");
    background-size: 700%;
    cursor: url("../images/cursor.png"), auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a, href {
    cursor: url("https://idledays-1be2f.kxcdn.com/idleDays/images/cursor.png"), auto;
}
#homePage {
    margin: 100px 0 260px 0;
}
#homeButton {
    width: 100%;
    display: flex;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
#homeButton img {
    width: 100%;
    margin-bottom: 60px;
}
#homePage p {
    text-align: center;
    margin-top: -50px;
}
header {
    width: 100%;
    margin: -10px 0 0 -10px;
    padding: 10px;
    background-image: url("https://idledays-1be2f.kxcdn.com/idleDays/images/header.jpg");
    background-size: 255%;
}
header .contents {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
header a {
    text-decoration: none;
    color: black;
}
header p {
    color: white;
    font-style: oblique;
}
header h1 {
    font-size: 2.4rem;
    text-align: center;
}
#mastHead {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

#headButtons {
    width: 100%;
    text-align: center;
}

#headButtons button {
    width: 25%;
    margin-left: 10px;
    font-family: ltc-pabst-oldstyle,serif;
    font-weight: 400;
    font-style: italic;
    border: none;
    background-color: #d2d087;
    color: black;
    height: 20px;
}
#headButtons button:hover {
    background-color: #c3c17c;
}
#thumbnails .contents {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 0;
    line-height: 1;
    list-style: none;
}
li {
    width: 80%;
    background-color: #943229;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 10px;
}
li img {
    width: 100%;
    margin-right: auto;
}
li a {
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-family: ltc-pabst-oldstyle,serif;
    font-weight: 400;
    font-style: italic;
}
#scrollGallery {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 100px;
}
#scrollGallery .contents {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#scrollGallery h1 {
    margin-left: 10px;
}
#scrollGallery img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}
#aboutPage {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#navButtons {
    margin: 10px 10px 0 0;
    text-align: center;
}
#navButtons button {
    width: 25%;
    margin: 5px;
    border: none;
    background-color: #fff;
    font-family: ltc-pabst-oldstyle,serif;
    font-weight: 400;
    font-style: italic;
}
#navButtons button:hover {
    background-color: #eee;
}
footer {
    background-color: #943229;
    width: 100%;
    padding: 10px;
    margin: 0 0 -10px -10px;
    color: white;
}
footer small {
    width: 100%;
    text-align: center;
}

@media (min-width: 770px) {
    html {
        background-size: 140%;
    }
    header {
        background-size: 105%;
    }
    header h1 {
        font-size: 3.2rem;
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #scrollGallery{
        width: 80%;
    }
    #scrollGallery .contents {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    #homePage {
        margin: 50px 0 45px 0;
    }
    #homeButton {
        width: 40%;
    }
    #headButtons button {
        width: 10%;
    }
    #mastHead {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 40%;
        margin-left: 30%;
        margin-right:  30%;
    }
    #aboutPage {
        width: 60%;
    }
}